.slide{
  display: flex;
  flex-direction: row;
  justify-content: center;
  opacity: 0;
  transition-duration: 2s;
  .content-row {
    font-family: 'Poppins', sans-serif;
    color: #5c5b52;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    @media (max-width: 767px) {
      width: 100%;
    }
    .side-headline {
      font-size: 28px;
      font-weight: bold;
    }
    .side-text{
        text-align: center;
    }
    .side-tech-wrapper {
      display: flex;
      justify-content: center;
      span {
        color: #ffffff;
        background: #5c5b52;
        border-radius: 2px;
        padding: 0 6px;
        font-size: 14px;
        margin-right: 15px;
      }
      @media (max-width: 767px) {
        width: 100%;
        span{
          margin-right: 3px;
        }
      }
    }
    .side-details{
      display: flex;
      align-content: center;
      padding-top: 25px;
      .side-details-link{
        text-decoration: none;
        display: flex;
        &:hover{
          img{
            animation: flip-icon ease-in .7s;
          }
          span{
            &:after {
              width: 100%;
            }
          }
        }
        span{
          color: #5c5b52;
          &:after {
            transition: all ease-in-out .4s;
            background: none repeat scroll 0 0 #5c5b52;
            content: "";
            display: block;
            height: 2px;
            width: 0;
          }
        }
        img{
          padding-right: 10px;
          animation: flip-icon-reverse ease-in .7s;
        }
        @keyframes flip-icon {
          0% {
            transform: rotateX(360deg);
          }
          100% {
            transform: rotateX(0deg);
          }
        }
        @keyframes flip-icon-reverse {
          0% {
            transform: rotateX(0deg);
          }
          100% {
            transform: rotateX(360deg);
          }
        }
      }
    }
  }
  .bottom-content{
    .video-wrap{
      max-width: 750px;
      @media (max-width: 1281px) {
        max-width: 650px;
      }
      video{
        width: 100%;
        margin-top: 30px;
        margin-left: 10px;
        @media (max-width: 767px) {
          margin-left: 0;
        }
      }
    }
  }
}
.active {
  opacity: 1;
  transition-duration: 2s;
}