.side-project-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  .details-side-project-wrapper {
    font-family: 'Poppins', sans-serif;
    color: #5c5b52;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .side-headline {
      font-size: 32px;
      font-weight: bold;
    }
    .side-tech {
      span {
        color: #ffffff;
        background: #5c5b52;
        border-radius: 2px;
        padding: 0 6px;
        font-size: 14px;
      }
    }
    .side-details{
      display: flex;
      align-content: center;
      padding-top: 25px;
      .side-details-link{
        text-decoration: none;
        display: flex;
        &:hover{
          img{
            animation: flip-icon ease-in .7s;
          }
          span{
            &:after {
              width: 100%;
            }
          }
        }
        span{
          color: #5c5b52;
          &:after {
            transition: all ease-in-out .4s;
            background: none repeat scroll 0 0 #5c5b52;
            content: "";
            display: block;
            height: 2px;
            width: 0;
          }
        }
        img{
          padding-right: 10px;
          animation: flip-icon-reverse ease-in .7s;
        }
        @keyframes flip-icon {
          0% {
            transform: rotateX(360deg);
          }
          100% {
            transform: rotateX(0deg);
          }
        }
        @keyframes flip-icon-reverse {
          0% {
            transform: rotateX(0deg);
          }
          100% {
            transform: rotateX(360deg);
          }
        }
      }
    }
  }
  .right-side-project{
    .video-wrap{
      max-width: 700px;
      video{
        width: 100%;
        margin-left: 110px;
        margin-top: 50px;
      }
    }
  }

  .left-side-project-video{
    .video-wrap{
      max-width: 700px;
      video{
        width: 100%;
        margin-left: -122px;
        margin-top: 50px;
      }
    }
  }
}