.landing-section{
    background: #fff6e6;
    height: 100vh;
    visibility: hidden;
}

.container{
    max-width: 1320px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    padding-top: 100px;
}

.left-content{
    margin-right: 50px;
    display: flex;
    flex-direction: column;
}

.work-title{
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    color: #5c5b52;
    font-weight: bold;
}

.name-title{
    font-size: 96px;
    font-family: 'Playfair Display', serif;
    font-weight: 300;
    color: #324235;
}

.right-content{
}

.profile-img {
    max-width: 400px;
    width: 100%;
}

.scroll-indicator{
    display: flex;
    flex-direction: column;
}

