.navbar{
  background: #fff6e6;
  .nav-container{
    max-width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    ul{
      list-style-type: none;
      display: flex;
      margin-top: 40px;
      li{
        margin-right: 60px;
        &:last-child {
          margin-right: 0;
        }
        a {
          text-decoration: none;
          font-size: 17px;
          font-family: 'Poppins', sans-serif;
          color: #5c5b52;
          &:after {
            transition: all ease-in-out .4s;
            background: none repeat scroll 0 0 #5c5b52;
            content: "";
            display: block;
            height: 2px;
            width: 0;
          }
          &:hover:after {
            width: 100%;
          }
        }
      }
    }
  }
}