.work-section{
  background: #fff6e6;
  .work-container{
    display: flex;
    max-width: 1140px;
    flex-direction: column;
    display: flex;
    height: 100vh;
    margin: 0 auto;
    padding-top: 80px;
    .work-heading{
      font-size: 54px;
      font-family: 'Playfair Display', serif;
      font-weight: 500;
      color: #5c5b52;
      padding-bottom: 100px;
    }
  }
}