.bio-section{
  max-width: 1320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 80px;
  .servus{
    font-size: 45px;
    font-family: 'Zen Antique', serif;
    color: #5c5b52;
    font-weight: bold;
    padding: 80px 0;
  }
  .bio-heading{
    font-size: 34px;
    font-family: 'Poppins', sans-serif;
    color: #5c5b52;
    font-weight: 400;
    padding-bottom: 15px;
    width: 90%;
    line-height: 62px;
  }

  .bio-heading:last-child{
    font-weight: bold;
  }

  .get-in-touch {
    display: flex;
    align-items: center;
    margin-top: 30px;

    a {
      font-size: 45px;
      font-family: 'Zen Antique', serif;
      color: #5c5b52;
      font-weight: bold;
      padding-bottom: 15px;
      line-height: 62px;
      text-decoration: none;

      &:after {
        transition: all ease-in-out .4s;
        background: none repeat scroll 0 0 #5c5b52;
        content: "";
        display: block;
        height: 2px;
        width: 0;
      }
      &:hover:after {
        width: 100%;
      }
    }
    img{
      max-width: 200px;
    }
  }
  @media (max-width: 1550px) {
      max-width: 1140px;
  }
  @media (max-width: 1281px) {
      max-width: 960px;
  }
  @media (max-width: 1024px) {
    max-width: 100%;
    padding: 0 25px 80px 25px;
    .bio-heading{
      font-size: 25px;
      line-height: 45px;
    }
  }
  @media (max-width: 767px) {
    .servus{
      font-size: 40px;
    }
    .bio-heading{
      font-size: 20px;
      line-height: 40px;
    }
    .get-in-touch{
      a{
        font-size: 40px;
        line-height: 40px;
      }
    }
  }
}