.last-section{
.last-section-container{
  max-width: 1140px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 40vh;

  .last-section-headline{
    font-size: 28px;
    font-family: 'Zen Antique', serif;
    color: #5c5b52;
    font-weight: bold;
    text-decoration: none;
  }
  @media (max-width: 1550px) {
      max-width: 1140px;
  }
  @media (max-width: 1281px) {
    max-width: 960px;
    text-align: center;
  }
  @media (max-width: 1024px) {
    max-width: 720px;
    padding: 0 25px;
  }
  @media (max-width: 767px) {
    max-width: 100%;
  }
}
}