.last-section{

.last-section-container{
  max-width: 1140px;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0 auto;

  .last-section-headline{
    font-size: 28px;
    font-family: 'Zen Antique', serif;
    color: #5c5b52;
    font-weight: bold;
    text-decoration: none;
  }
}
}